.content
  %h2 最近订单
  %table.table.table-striped
    %thead
      %tr
        %th 订单号
        %th 物流信息
    %tbody
      -@orders.each do |order|
        %tr
          %td=link_to order.name, order.admin_url, target: :_blank
          %td
            -order.fulfillments.each do |fulfillment|
              %p
                -if fulfillment.received
                  %span.alert.alert-success(title="#{fulfillment.tracking_company} #{fulfillment.tracking_number}") 已签收
                -else
                  %span.alert(class="#{fulfillment.expire? ? 'alert-error' : 'alert-block'}")==#{fulfillment.tracking_company} #{fulfillment.tracking_number} 未签收
